<br><br><br>
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title, style:"text-align:center;" %><br>
    <%= f.text_field :title, style:"margin:auto;", class:"form-control"%>
  </p>
 
  <p>
    <%= f.label :text, style:"text-align:center;" %><br>
    <%= f.text_area :text, style:"margin:auto;", class:"form-control" %>
  </p>
 
  <p>
    <%= f.submit style:"margin:auto;", class:"btn btn-default"%>
  </p>
<% end %>
