

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->


    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Introduction</h1><h2>  A simple example so you can learn how to use this program  </h2>
                    <p><strong>Rules:</strong> Print out a multiplication table using <code>system input/output</code> and bla bla bla bla bla <code> code </code>  bla bla bla bla.</p>


                    <a class="btn btn-default page-scroll" href="#p1">Next problem</a>
                </div>
            </div>
            <h3> Posts: </h3>
            <div id="post-links">
            <% ct = 0 %>
            <% @articles.each do |a| %>
                <%= link_to a.title, "#p" + a.id.to_s, class:"post-link" %>
                <% ct += 1 %>
                <% if ct % 5 == 0 %>
                    <br><br>
                <% end %>
            <% end %>
            </div>
        </div>
    </section>

<!-- this next line is a for loop -->
  <% @articles.each do |article| %>

    <section id="p<%= article.id %>" class="about-section article" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="article">
                    <h1 class="article-title"><%= article.title %>:</h1>

											<%= render partial: "question_list.html.erb", locals:{article: article}%>
                                            <div class="article-info">
                                            <%= article.text %><br>
                                            <div id="result_<%= article.id%>"></div>
											<%= link_to 'Show', article_path(article) %> | 
											<%= link_to 'Edit', edit_article_path(article) %> | 
											<%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                                            </div>
										  <!-- <a class="btn btn-default page-scroll" href="#p<%= article.id %>">Next problem</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
  <% end %>



